

 
.color-blue .fs-normal {
    color: blue;
    font-weight: normal;
}

li:first-child {
    color: aqua;
}

li:last-child {
    color: green;
}

li:nth-child(odd) {
    color: aqua;
}

li:nth-child(even) {
    background-color: brown;
}

article {
    color: black);
}

body {
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 26px;
}

p {
    font-size: 10px;
}
    

#first-article {
    font-size: 40px;
}

.text-red {
    color: red;
}

.fs-14 {
    font-size: 14px;
}

.fs-20 {
    font-size: 20px;
}

.fs-30 {
    font-size: 30px;
}

.color-h1 {
    color: green;
}

#renk-pink {
    color: pink;
}

#renk-orange {
    color: orangered;
}

#fs-15 {
    font-size: 15px;
    color: white;
}